//Innehåller kod för komponenter
#globalNav ul {
    @extend #bigLetters;
    margin: 0;
    font-size: 1.05em;
    font-weight: bold;
    list-style-type: none;
    float: right;
    margin-top: 3em;

    li {
        display: inline;
        margin-right: 2em;
    }

    li:last-child {
        margin-right: 0;
    }

    a {
        color: $link-color;
        text-decoration: none;
        padding-bottom: 0.5em;

        &:hover {
            color: $purple;
            border-bottom: 2px solid $link-border;
        }
    }
}

figure {
    margin: 0;
    width: 33%;
    float: left;

    img {
        width: 100%;

        &:hover {
            opacity: 0.8;
        }
    }
}