//Innehåller kod för layout
* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    margin: 0;
}

#wrapper {
    max-width: 1100px;
    padding: 0 1.5em;
    margin: 0 auto;
}

header {
    overflow: auto;
    margin-top: 1em;

    img {
        float: left;
        width: 12em;
    }
}

#leftText, #rightText {
    h3 {
        color: $purple;
        margin: 0;  
    }

    p {
        margin-bottom: 0;
    }
}

#leftText {
    @include indexText(left);
    padding-right: 2em;
    border-right: 3px solid $lightPurple;
}

#rightText {
    @include indexText(left);
    text-align: right;
    padding-left: 2em;
    border-left: 3px solid darken($purple, 20);
}

.hamburgerMenu, .hMenuClose {
    float: right;
    margin-top: 2.5em;
    width: 26px;
    height: 26px;
    display: none;
}

.hamburgerMenu {
    background-image: url("../images/meny.svg");
}

.hMenuClose {
    background-image: url("../images/meny_stang.svg");
}

.hamburgerMenu:hover, .hMenuClose {
    cursor: pointer;
}

footer {
    clear: both;
    width: 100%;
    padding: 1.5em;
    text-align: center;
    font-weight: bold;
    color: $footer-color;
        
    @if lightness($footer-color) > 50% {
        background-color: darken($purple, 20);
    }
    
    @else {
        background-color: lighten($purple, 40);
    }
}

#bigLetters {
    text-transform: uppercase;
}